################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/JAM.WebScraper.Android/bin/Debug
/JAM.WebScraper.Android/obj
/JAM.WebScraper.Android/obj
/JAM.WebScraper.dto/bin/Debug
/JAM.WebScraper.dto/obj/Debug
/JAM.WebScraper.Test/bin/Debug
/JAM.WebScraper.Test/obj/Debug
